html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.show-menu {
  display: block !important;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
}

.button {
  background-color: #0057FF;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  padding: 14px 40px;
  border-radius: 30px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 768px) {
  .button {
    padding: 6px 24px;
    font-size: 11px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 576px) {
  .button {
    display: none;
  }
}
.button_orange {
  background-color: #FF8E32;
}
@media (max-width: 576px) {
  .button_orange {
    display: block;
  }
}

.header__wrp {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  .header__menu {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__mobile-menu-button {
  display: none;
}
@media (max-width: 576px) {
  .header__mobile-menu-button {
    display: block;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 40px;
  padding: 0 10px;
  gap: 20px;
}
@media (max-width: 992px) {
  .header__list {
    margin: 0 20px;
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .header__list {
    margin: 0 10px;
    gap: 5px;
  }
}
@media (max-width: 576px) {
  .header__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 71px;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #dddddd;
    margin: 0;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.header__item {
  padding: 0 10px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .header__item {
    padding: 0 9px;
  }
}
@media (max-width: 576px) {
  .header__item {
    padding: 0 5px;
  }
}
.header__links {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 768px) {
  .header__links {
    font-size: 11px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 576px) {
  .header__links {
    font-size: 50px;
    line-height: 100px;
    font-weight: 400;
    font-style: normal;
  }
}

.digital-marketing {
  background-image: url(./../img/woman-ipad.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 20px bottom;
}
@media (max-width: 1200px) {
  .digital-marketing {
    background-size: 58%;
  }
}
@media (max-width: 992px) {
  .digital-marketing {
    background-size: 52%;
  }
}
@media (max-width: 576px) {
  .digital-marketing {
    background-size: 60%;
  }
}
.digital-marketing__wrp {
  min-height: 742px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media (max-width: 576px) {
  .digital-marketing__wrp {
    min-height: 640px;
  }
}
.digital-marketing__title {
  max-width: 427px;
  font-size: 56px;
  line-height: 66px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .digital-marketing__title {
    max-width: 84%;
    font-size: 39px;
    line-height: 45px;
    font-weight: 400;
    font-style: normal;
  }
}
.digital-marketing__text {
  max-width: 484px;
  font-family: "Roboto", sans-serif;
  margin: 52px 0 17px;
}
@media (max-width: 576px) {
  .digital-marketing__text {
    max-width: 90%;
    margin: 26px 0 17px;
  }
}
.digital-marketing__wrp-employee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.digital-marketing__employee-name {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
.digital-marketing__list {
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.digital-marketing__button {
  margin: 40px 0 0 0;
}

.footer {
  background-color: #000000;
}
@media (max-width: 576px) {
  .footer nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer__wrp {
  min-height: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 61px 0 41px;
}
@media (max-width: 576px) {
  .footer__wrp {
    padding: 24px 0 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__ava-logo {
  margin: 10px 0 63px;
}
@media (max-width: 768px) {
  .footer__ava-logo {
    margin: 10px 0 26px;
  }
}
.footer__text {
  font-size: 11px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #999999;
  text-transform: uppercase;
  text-decoration: none;
}
.footer__text_white {
  color: #FFFFFF;
}
.footer__list-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer__list-pages {
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .footer__list-pages {
    padding: 0 0 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 4px;
  margin: 70px 0 0 0;
}
@media (max-width: 768px) {
  .footer__list-social {
    margin: 40px 0 0 0;
  }
}
@media (max-width: 576px) {
  .footer__list-social {
    margin: 0px 0px 0px 22px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */