$black: #000000;
$white: #FFFFFF;
$grey: #999999;
$blue: #0057FF;
$violet: #B861FF;
$orange: #FF8E32;

$large-desktop-width: 1200px; // Ширина для крупных десктопов
$desktop-width: 992px; // Ширина для десктопов
$tablet-width: 768px; // Ширина для планшетов
$mobile-width: 576px; // Ширина для мобильных устройств