.customers {
    text-align: center;
    background-image: url(./../img/decorative-grey-triangle.png);
    background-repeat: no-repeat;
    background-position: top center;

    &__wrp {
        padding: 125px 0 90px;
    }

    &__title {
        color: $blue;
        @include font(12px, 22px);
        text-transform: uppercase;
    }

    &__text {
        font-family: 'Roboto', sans-serif;
        max-width: 776px;
        @include font(24px, 34px);
        margin: 23px auto 37px;
    }

    &__link {
        display: inline-block;
        margin: 0 0 130px 0;
    }

    &__list {
        display: flex;
        gap: 65px;
        padding: 65px 0;
    }

    &__item {}
}